@import './icon.scss';
/* 移动端页面设计稿宽度 */
$design-width: 750;
/* 移动端页面设计稿dpr基准值 */
$design-dpr: 2;
/* 将移动端页面分为10块 */
$blocks: 10;
/* 缩放所支持的设备最小宽度 */
$min-device-width: 320Px;
/* 缩放所支持的设备最大宽度 */
$max-device-width: 1080Px;
/* px自动转rem基准值 */
$px-to-rem: 100;

/* 设置容器拉伸的最小宽度 */
@mixin container-min-width() {
  margin: 0;
  min-width: $min-device-width;
}

/* 设置容器拉伸的最大宽度 */
// @mixin container-max-width() {
//   margin-right: 0;
//   margin-left: 0;
//   max-width: $max-device-width;
// }

html{
  font-size: 100vw * $px-to-rem / $design-width;
  @media screen and (max-width: $min-device-width) {
    font-size: $min-device-width * $px-to-rem / $design-width ; 
  }
  // @media screen and (min-width: $max-device-width) {
  //   font-size: $max-device-width * $px-to-rem / $design-width;
  // }
}

body {
  @include container-min-width();
  // @include container-max-width();
}
#app{
  width: 100%;
  height: 100%;
}